*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/modules/
src/main/java/com/doll/party/app/model/
src/main/java/com/doll/party/app/view/
src/main/res/drawable/
